/* Theme */
@value themeA from "../theme.css";

:root {
  --radius-sm: 0.1875em;
  --radius-md: 0.5em;
  --radius-lg: 0.8125em;
  --radius-xl: 100%;

  --size-sm: 0.1875em 0.625em;
  --size-md: 0.5em 1em;
  --size-lg: 1em 1.25em;
  --size-circle: 60px;
}

.button {
  composes: border from "../global.css";
  composes: clearLeftMd from "../global.css"; /* stylelint-disable-line declaration-block-no-duplicate-properties */
  font: inherit;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.button svg {
  vertical-align: middle;
}

/* Animation */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Sizes */
.sm {
  composes: button;
  padding: var(--size-sm);
}

.md {
  composes: button;
  padding: var(--size-md);
}

.lg {
  composes: button;
  padding: var(--size-lg);
}

.xl {
  composes: md;
  width: 100%;
}

/* Shapes */
.circle {
  border-radius: var(--radius-xl);
  width: var(--size-circle);
  height: var(--size-circle);
  padding: 0;
}

/* Type */
.raised {
  composes: softShadow from "../global.css";
}

.link {
  border: 0;
}

.link:hover {
  text-decoration: underline;
}

/* States */
.loading {
  position: relative;
  color: transparent;
  pointer-events: none;
}

.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  content: "";
  animation: rotate 500ms linear infinite;
  border: 2px solid themeA;
  border-radius: 8px;
  border-right-color: transparent;
  border-top-color: transparent;
}

.button[disabled] {
  cursor: not-allowed;
  color: rgba(128, 128, 128, 0.6);
}

.button[disabled] svg {
  fill: rgba(128, 128, 128, 0.6);
}

/* Button Group */

/* Display */
.inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
}

/* Spacing */
.inline .button,
.block .button {
  flex: 1 0 auto;
  margin: 0;
}

/* Border */
.inline .button:not(:last-child),
.block .button:not(:last-child) {
  border-right-width: 0;
}