:root {
  @custom-media --bp (min-width: 43.75em); /* stylelint-disable at-rule-empty-line-before */
}

/* Theme */
@value themeA from "../theme.css";

.form {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.label {
  display: block;
  margin-bottom: 0.9375em;

  @media (--bp) {
    position: relative;
  }
}

.label button {
  width: 100%;
  background-color: themeA;
  color: #fff;

  @media (--bp) {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }
}
