.root {
  composes: border from "../global.css";
  padding: 1em;
  background-color: #f6f6f6;
}

.form-group {
  composes: root;

  @media(max-width: 24.9375em) {
    border: 0;
    padding: 0;
  }
}

.form-field {
  display: block;
}

.title {
  font-weight: bold;
  margin-bottom: 1em;
}

.title::after {
  content: "";
  display: block;
  margin-top: 0.3125em;
  border-bottom: 1px solid rgba(85, 85, 85, 0.092);
}

.label {
  display: block;
  font-size: 1rem;
}

.hint {
  font-size: 0.75rem;
  display: block;
}

.textarea {
  composes: border from "../global.css";
  font: inherit;
  display: block;
  width: 100%;
  padding: 0.65em;
  background-color: #fff;
  resize: none;
}

/* Sizes */
@media(min-width: 48.75em) {
  .sm {
    max-width: 15%;
  }

  .md {
    max-width: 35%;
  }

  .lg {
    max-width: 75%;
  }
}