<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ui Components</title>
    </head>
    <body>
        <div id="nav"></div>
        <main>
            <div id="accordion"></div>
            <div id="button"></div>
            <div id="cardlist"></div>
            <div id="carousel"></div>
            <div id="card1"></div>
            <div id="card2"></div>
            <div id="card3"></div>
            <div id="checkbox"></div>
            <div id="commentbox"></div>
            <div id="form"></div>
            <div id="icon"></div>
            <div id="image"></div>
            <div id="input"></div>
            <div id="list"></div>
            <div id="media"></div>
            <div id="menu"></div>
            <div id="playlist"></div>
            <div id="radio"></div>
            <div id="sidebar"></div>
            <div id="sortable"></div>
            <div id="spinner"></div>
            <div id="subscribeform"></div>
            <div id="tabset"></div>
        </main>
    </body>
</html>