.root {
  composes: nbfc from "../global.css";
  border: 1px solid #dbdbdb;
  position: relative;
}

.root button {
  position: absolute;
  top: 0;
  right: -1px;
  border-top-width: 0;
  z-index: 60;

  @media(min-width: 58.125em) {
    top: 40px;
    right: 40px;
    border-top-width: 1px;
  }
}

.item {
  padding: 0.5em;
}

.item:not(:last-child) {
  border: 0 solid #dbdbdb;
  border-bottom-width: 1px;
}

/* States */
.hasHover .item {
  transition: background-color 0.3s;
}

.hasHover .item:hover {
  background-color: #f7f7f5;
  cursor: pointer;
}

.expandable {
  max-height: 210px;
  transition: max-height 0.3s;

  @media(min-width: 31.25em) {
    max-height: 138px;
  }

  @media(min-width: 40.9375em) {
    max-height: 114px;
  }
}

.expandable.active {
  max-height: 10000px;
}