.root {
    border: 1px solid #dbdbdb;
    position: relative;
    max-height: 115px;
    transition: max-height 0.75s ease-in-out;
}

.active {
    max-height: 1000px;
}

.root button {
    position: absolute;
    top: -35px;
    right: -1px;
    border-bottom-width: 0;
    z-index: 60;

    @media(min-width: 58.125em) {
        top: 40px;
        right: 40px;
        border-bottom-width: 1px;
    }
}

.item {
    transition: background-color 0.3s ease-in-out;
    padding: 0.5em;
}

.hasHover .item:hover {
    background-color: #f7f7f5;
    cursor: pointer;
}

.item:not(:last-child) {
    border: 0 solid #dbdbdb;
    border-bottom-width: 1px;
}