.container {
  /* stylelint-disable declaration-block-no-duplicate-properties */
  composes: border from "../global.css";
  composes: center from "../global.css";
  composes: clearBottomMd from "../global.css";
  composes: nbfc from "../global.css";
  /* stylelint-enable declaration-block-no-duplicate-properties */
  max-width: 85%;
  padding: 1em;
}

.title {
  text-transform: capitalize;
  text-align: center;
}

.description {
  padding: 1em;
}