.root {
    /*
     * Establish new stacking context to contain footer (LN:70)
     * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
     */
    position: relative;
    z-index: 20;

    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: normal;
    margin-bottom: 0.5em;
}

.item {
    flex: 0.5;
    align-self: center;
    padding: 1.25em;
    margin-right: 1.25em;
}

.item img {
    display: block;
    min-width: 100%;
    width: 100%;
}

.item svg {
    width: 100%;
    height: 100%;
}

.content {
    flex: 1 0 80%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    text-transform: capitalize;
}

.footer .content {
    background: rgba(128, 128, 128, 0.5);
    color: #fff;
    padding: 1.25em;
    text-transform: uppercase;
}

.o-Media__footer.u-flyOut {
    transition: transform 0.5s ease-in-out;
    transform: translateY(4.0625em);
    bottom: 0;
    z-index: 30;
}

.o-Media__container:hover .u-flyOut {
    transform: translateY(0);
}