:root {
    --sm: 1.875em;
    --md: 2.625em;
    --lg: 3.75em;
}

/* Theme */
@value themeB from "../theme.css";

.icon {
    fill: currentColor;
    color: themeB;
}

/* Sizes */
.sm {
    width: var(--sm);
    height: var(--sm);
}

.md {
    width: var(--md);
    height: var(--md);
}

.lg {
    width: var(--lg);
    height: var(--lg);
}