.menu {
  composes: softShadow from "../utils/index.css";
  padding: 0.3125em;
}

.header {
  font-size: 0.75rem;
  display: block;
  padding: 0.1666666667em 0.8333333333em;
}

.header::after {
  content: "";
  border-bottom: 1px solid #efefef;
  display: block;
  width: 100%;
  transform: translateY(-0.65em);
}

.header span {
  position: relative;
  z-index: 50;

  background: #fff;
  color: #ccc;
  display: inline-block;
  line-height: 1.8;
  margin-left: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.item {
  padding: 0.125em 0.625em;
}

.item a {
  display: inline-block;
  padding: 0.125em 0.625em;
  color: inherit;
}

.item svg,
.item span {
  vertical-align: middle;
}

.item span {
  font-weight: 700;
}

.item svg {
  margin-right: 0.5em;
}

.divider {
  display: block;
  margin: 0.3125em;
  border-bottom: 1px solid #efefef;
}